Repository bounswe/bounswe2018group3, pull requests merged in 2018-11, with the labels that each got.

#116 Navbar for Web Frontend
  README.md
  app/frontend/robin/README.md
  app/frontend/robin/package-lock.json
  app/frontend/robin/package.json
  app/frontend/robin/src/App.js
  app/frontend/robin/src/pages/components/navbar/index.css
  app/frontend/robin/src/pages/components/navbar/index.js
  app/frontend/robin/src/pages/eventpage/components/navbar/index.css
  app/frontend/robin/src/pages/eventpage/components/navbar/index.js
  app/frontend/robin/src/pages/eventpage/index.js
  app/frontend/robin/src/pages/homepage/components/navbar/index.css
  app/frontend/robin/src/pages/homepage/components/navbar/index.js
  app/frontend/robin/src/pages/homepage/index.css
  app/frontend/robin/src/pages/homepage/index.js
Labels: Frontend

#120 Event update
  app/frontend/robin/src/pages/eventpage/comment.js
  app/frontend/robin/src/pages/eventpage/event.js
  app/frontend/robin/src/pages/eventpage/eventpage.css
  app/frontend/robin/src/pages/homepage/components/event/index.js
Labels: type : frontend

#125 Backend
  app/backend/events/models.py
Labels: Backend

#126 Profile Page
  app/frontend/robin/src/pages/components/navbar/index.css
  app/frontend/robin/src/pages/components/navbar/index.js
  app/frontend/robin/src/pages/homepage/index.css
  app/frontend/robin/src/pages/homepage/index.js
  app/frontend/robin/src/pages/profile/index.css
  app/frontend/robin/src/pages/profile/index.js
  app/frontend/robin/src/pages/profile/profile.css
  app/frontend/robin/src/pages/profile/profile.js
Labels: Frontend

#145 Frontend/ua
  app/frontend/robin/src/App.js
  app/frontend/robin/src/pages/register/index.js
  app/frontend/robin/src/pages/terms/index.js
Labels: Frontend
