Repository bounswe/bounswe2018group3, pull requests merged in 2019-01, with the labels that each got.

#237 Backend
  app/backend/Pipfile
  app/backend/Pipfile.lock
  app/backend/api/migrations/__init__.py
  app/backend/api/models.py
  app/backend/api/serializers.py
  app/backend/api/urls.py
  app/backend/api/views.py
  app/backend/backend/settings.py
  app/backend/db.sqlite3
  app/backend/events/forms.py
  app/backend/events/migrations/__init__.py
  app/backend/events/models.py
  app/backend/events/serializers.py
  app/backend/events/urls.py
  app/backend/events/views.py
  app/backend/pic_folder/profile_pics/default_profile.png
  app/backend/users/forms.py
  app/backend/users/migrations/0001_initial.py
  app/backend/users/migrations/__init__.py
  app/backend/users/models.py
  app/backend/users/serializers.py
  app/backend/users/urls.py
  app/backend/users/views.py
Labels: Backend

#239 F/event comment
  app/frontend/robin/src/pages/constants/backend-urls.js
  app/frontend/robin/src/pages/createevent/index.js
  app/frontend/robin/src/pages/eventpage/index.js
  app/frontend/robin/src/pages/profile/index.js
Labels: Frontend

#248 F/tags
  app/frontend/robin/src/pages/constants/backend-urls.js
  app/frontend/robin/src/pages/createevent/index.js
  app/frontend/robin/src/pages/eventpage/index.js
  app/frontend/robin/src/pages/homepage/components/event/index.js
  app/frontend/robin/src/pages/profile/index.js
  app/frontend/robin/src/pages/searchResults/components/event/index.js
Labels: Frontend

#251 Added and finished comments
  app/frontend/robin/src/pages/eventpage/comment.js
  app/frontend/robin/src/pages/eventpage/index.js
Labels: difficulty : medium

#253 F/event photo
  app/frontend/robin/package-lock.json
  app/frontend/robin/src/pages/createevent/index.js
  app/frontend/robin/src/pages/eventpage/eventpage.css
  app/frontend/robin/src/pages/eventpage/index.js
Labels: Frontend

#254 handled additions of new images with multiple annotations
  app/frontend/robin/src/pages/eventpage/index.js
Labels: Frontend

#255 changed position of the images
  app/frontend/robin/src/pages/eventpage/index.js
Labels: Frontend
